## Analysis of an E-commerce Dataset Part 3 (s2 2023)


In this Portfolio task, you will continue working with the dataset you have used in portfolio 2. But the difference is that the ratings have been converted to like (with score 1) and dislike (with score 0). Your task is to train classification models such as KNN to predict whether a user like or dislike an item.  


The header of the csv file is shown below. 

| userId | timestamp | review | item | helpfulness | gender | category | item_id | item_price | user_city | rating |
    | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |
    
Your high level goal in this notebook is to try to build and evaluate predictive models for 'rating' from other available features - predict the value of the like (corresponding to rating 1) and dislike (corresponding to rating 0) in the data from some of the other fields. More specifically, you need to complete the following major steps: 
1) Explore the data. Clean the data if necessary. For example, remove abnormal instanaces and replace missing values.
2) Convert object features into digit features by using an encoder
3) Study the correlation between these features. 
4) Split the dataset and train a logistic regression model to predict 'rating' based on other features. Evaluate the accuracy of your model.
5) Split the dataset and train a KNN model to predict 'rating' based on other features. You can set K with an ad-hoc manner in this step. Evaluate the accuracy of your model.
6) Tune the hyper-parameter K in KNN to see how it influences the prediction performance

Note 1: We did not provide any description of each step in the notebook. You should learn how to properly comment your notebook by yourself to make your notebook file readable. 

Note 2: you are not being evaluated on the ___accuracy___ of the model but on the ___process___ that you use to generate it. Please use both ___Logistic Regression model___ and ___KNN model___ for solving this classification problem. Accordingly, discuss the performance of these two methods.

In [101]:
# import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [102]:
pd.read_csv('portfolio_3.csv')

,userId,timestamp,review,item,helpfulness,gender,category,item_id,item_price,user_city,rating
0,4081,71900,Not always McCrap,McDonald's,3,M,Restaurants & Gourmet,41,30.74,4,1
1,4081,72000,I dropped the chalupa even before he told me to,Taco Bell,4,M,Restaurants & Gourmet,74,108.30,4,0
2,4081,72000,The Wonderful World of Wendy,Wendy's,4,M,Restaurants & Gourmet,84,69.00,4,1
3,4081,100399,They actually did it,"South Park: Bigger, Longer & Uncut",3,M,Movies,68,143.11,4,1
4,4081,100399,Hey! Gimme some pie!,American Pie,3,M,Movies,6,117.89,4,0
...,...,...,...,...,...,...,...,...,...,...,...
2680,2445,22000,Great movie!,Austin Powers: The Spy Who Shagged Me,3,M,Movies,9,111.00,5,1
2681,2445,30700,Good food!,Outback Steakhouse,3,M,Restaurants & Gourmet,50,25.00,5,1
2682,2445,61500,Great movie!,Fight Club,3,M,Movies,26,97.53,5,1
2683,2445,100500,Awesome Game.,The Sims 2: Open for Business for Windows,4,M,Games,79,27.00,5,1
2684,2445,101400,Great Service.,PayPal,3,M,Personal Finance,52,38.00,5,1

In [103]:
df = pd.read_csv('portfolio_3.csv')
df.head()

,userId,timestamp,review,item,helpfulness,gender,category,item_id,item_price,user_city,rating
0,4081,71900,Not always McCrap,McDonald's,3,M,Restaurants & Gourmet,41,30.74,4,1
1,4081,72000,I dropped the chalupa even before he told me to,Taco Bell,4,M,Restaurants & Gourmet,74,108.30,4,0
2,4081,72000,The Wonderful World of Wendy,Wendy's,4,M,Restaurants & Gourmet,84,69.00,4,1
3,4081,100399,They actually did it,"South Park: Bigger, Longer & Uncut",3,M,Movies,68,143.11,4,1
4,4081,100399,Hey! Gimme some pie!,American Pie,3,M,Movies,6,117.89,4,0

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685 entries, 0 to 2684
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userId       2685 non-null   int64
 1   timestamp    2685 non-null   int64
 2   review       2685 non-null   object
 3   item         2685 non-null   object
 4   helpfulness  2685 non-null   int64
 5   gender       2685 non-null   object
 6   category     2685 non-null   object
 7   item_id      2685 non-null   int64
 8   item_price   2685 non-null   float64
 9   user_city    2685 non-null   int64
 10  rating       2685 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 230.9+ KB

In [116]:
from sklearn.preprocessing import OrdinalEncoder 
enc = OrdinalEncoder (dtype=int)
df[['review', 'item',' gender', 'category']]=enc. fit_transform(df[['review', 'item', 'gender', 'category']])
df.head()

,userId,timestamp,review,item,helpfulness,gender,category,item_id,item_price,user_city,rating,gender
0,4081,71900,1618,37,3,M,8,41,30.74,4,1,1
1,4081,72000,1125,67,4,M,8,74,108.30,4,0,1
2,4081,72000,2185,77,4,M,8,84,69.00,4,1,1
3,4081,100399,2243,61,3,M,5,68,143.11,4,1,1
4,4081,100399,1033,5,3,M,5,6,117.89,4,0,1

In [117]:
df.corr()

C:\Users\samra\AppData\Local\Temp\ipykernel_16652\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,userId,timestamp,review,item,helpfulness,category,item_id,item_price,user_city,rating,gender
userId,1.000000,-0.069176,0.007139,-0.005513,-0.166136,-0.041362,-0.005549,0.024576,-0.030031,0.066444,-0.058324
timestamp,-0.069176,1.000000,0.007029,-0.003543,0.014179,0.015009,-0.004452,0.010979,-0.014934,-0.009739,-0.003367
review,0.007139,0.007029,1.000000,0.163090,-0.028259,0.001970,0.163544,-0.041421,0.045626,-0.041756,-0.037884
item,-0.005513,-0.003543,0.163090,1.000000,-0.020433,-0.045988,0.999765,-0.049885,-0.005220,0.057793,0.001925
helpfulness,-0.166136,0.014179,-0.028259,-0.020433,1.000000,-0.013408,-0.019882,0.004112,0.012086,-0.010622,0.075947
category,-0.041362,0.015009,0.001970,-0.045988,-0.013408,1.000000,-0.045268,-0.115571,0.008017,-0.142479,0.022549
item_id,-0.005549,-0.004452,0.163544,0.999765,-0.019882,-0.045268,1.000000,-0.054450,-0.005576,0.057107,0.002370
item_price,0.024576,0.010979,-0.041421,-0.049885,0.004112,-0.115571,-0.054450,1.000000,-0.023427,0.026062,-0.040596
user_city,-0.030031,-0.014934,0.045626,-0.005220,0.012086,0.008017,-0.005576,-0.023427,1.000000,-0.034866,-0.065638
rating,0.066444,-0.009739,-0.041756,0.057793,-0.010622,-0.142479,0.057107,0.026062,-0.034866,1.000000,-0.022169
gender,-0.058324,-0.003367,-0.037884,0.001925,0.075947,0.022549,0.002370,-0.040596,-0.065638,-0.022169,1.000000

In [118]:
df.head()

,userId,timestamp,review,item,helpfulness,gender,category,item_id,item_price,user_city,rating,gender
0,4081,71900,1618,37,3,M,8,41,30.74,4,1,1
1,4081,72000,1125,67,4,M,8,74,108.30,4,0,1
2,4081,72000,2185,77,4,M,8,84,69.00,4,1,1
3,4081,100399,2243,61,3,M,5,68,143.11,4,1,1
4,4081,100399,1033,5,3,M,5,6,117.89,4,0,1

In [132]:
# Split the dataset 
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split (df.drop(['rating'], axis=1), df['rating'], test_size=0.2, random_state=42)
print('X_train shape: ',X_train.shape)
print('X_test shape: ', X_test.shape)
print('y_train shape: ',y_train.shape)
print('y_test shape: ',y_test.shape)

X_train shape:  (2148, 11)
X_test shape:  (537, 11)
y_train shape:  (2148,)
y_test shape:  (537,)

In [139]:
from sklearn.linear_model import LogisticRegression 
lr = LogisticRegression().fit(X_train, y_train)

ValueError: could not convert string to float: 'M'

In [136]:
y_pred_test = lr.predict(X_test)

NameError: name 'lr' is not defined

In [138]:
y_test

655     1
862     0
365     0
2423    1
1514    1
       ..
353     1
208     0
1027    1
831     0
1742    0
Name: rating, Length: 537, dtype: int64

In [140]:
y_pred_test lr.predict(X_test)

SyntaxError: invalid syntax (2115040518.py, line 1)

In [141]:
from sklearn.metrics import accuracy_score print('Accuracy on test set: ', accuracy_score (y_test, y_pred_test))

SyntaxError: invalid syntax (1674377726.py, line 1)